<html>
  <head>
    <meta charset='utf-8' />
    <title>Birdfolio</title>
    <link
      href='https://fonts.googleapis.com/css?family=Spirax'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css?family=Roboto'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='/main.css' />
    <link rel='icon' href='data:,' />
  </head>
  <body>
    <div class='app'>
      <h1 class='title'>Birdfolio</h1>
      <a class='nav' href='/'>Home</a>
      {{{body}}}
    </div>
  </body>
</html>