<div class='container'>
  {{#each birds}}
    <div class='bird-list'>
      <a href='/birds/{{id}}'><img
          class='bird-img'
          src='{{image}}'
          alt='{{name}}'
        /></a>
    </div>
  {{/each}}
</div>