* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: whitesmoke;
}

h2 {
  font-size: 2rem;
  padding: 0.5rem;
}

body {
  background-color: rebeccapurple;
}

.button {
  width: 6rem;
  border-radius: 0.5rem;
  border: none;
}

.button > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: rebeccapurple;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.title {
  text-align: center;
  padding: 2rem;
  font-size: 10rem;
}

.bird-img {
  width: 30rem;
  /* height: 20rem; */
  border-radius: 2rem;
}
.bird-list {
  /* border: 2px solid red; */
  padding: 2rem;
}

.bird {
  display: grid;
  place-items: center;
}
/* .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
} */

.nav {
  color: whitesmoke;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
